* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: 'Inter', sans-serif;
  .canvas_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .canvas {
      background-color: white;
    }
    .tools {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      color: white;
    }
    .tools__tool {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      user-select: none;
      label,
      input {
        cursor: pointer;
      }
    }
    .tools__tool:hover {
      color: rgba(255, 255, 255, 0.4);
    }
    .tools__btns {
      cursor: pointer;
      user-select: none;
      background-color: transparent;
      color: white;
      border: none;
    }
    .tools__btns:hover {
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

@media screen and (max-width: 768px) {
  .app {
    .canvas_container {
      .canvas {
        background-color: white;
      }
      .tools {
        overflow: hidden;
        font-size: 0.6em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
      }
      .tools__tool {
        gap: 0;
      }
    }
  }
}
